@charset "UTF-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
img, fieldset, button {border: 0;}
legend {font-size: 0; color: transparent; text-indent: -9999px; position: absolute; left: -9999px; opacity: 0; visibility: hidden;}
input {outline: none;}
.autoheight:after {content:""; display: block; clear: both;}


