@charset "UTF-8";

#wrap{width: 320px; height: 1000px; margin: 0 auto;}

#header {width: 320px; height: 140px; }
#header h1 {width: 120px; height: 50px; background-color: #dd0c79;}
#header .gnb {width: 320px; height: 45px; background-color: #fef200; margin-top: 20px;}

#visual1 {width: 320px; height: 200px; background-color: #02a4d2; float: left;}

#visual2 {width: 320px; height: 200px; background-color: #02a4d2; margin-top: 20px; float: left;}

#footer {width: 320px; height: 40px; margin-top: 20px; background-color: #02a4d2;  float: left;}



